.box-loading{
    position:absolute; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    padding: .5rem;
    border-radius: .2rem;
    background: #ffffff;
    overflow-y: hidden;
  
}

.line{
    animation: pulse 1s infinite ease-in-out;
    -webkit-animation: pulse 1s infinite ease-in-out;
    margin-bottom: .5rem;
    // border-radius: .2rem;
}

.box-loading div:nth-child(1){
    width: 12rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.box-loading div:nth-child(2){
    width: 90%;
    height: 2rem; 
}
.box-loading div:nth-child(3){
    width: 30%;
    height: 2rem;  
}

.box-loading div:nth-child(4){
    width: 50%;
    height: 2rem;
    
}


@keyframes pulse{
    0%{
        background: rgba(165, 165, 165, 0.1);
    }
    50%{
        background: rgba(165, 165, 165, 0.3);
    }
    100%{
        background: rgba(165, 165, 165, 0.1);
    }
}


.app-main{
    min-height: 430px;
}
.bg-footer{
    background: #036413;
    // margin-top: 50px;
    .bg-sub{
        background:#1f1f1f;
        color: #fff;
    }
}

